@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');



/*----------------------------------------------------------body*/

body {
    background-color: #251717;
   
}

/*----------------------------------------------------------Booking Form*/

.center-form {
    padding: 10px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 200px;
    max-width: 70%;
    background-color: #B0B0D1;
}

.booking-button {
    background-color: #ff4d4d;
    margin: 0 auto;
}

.booking-button:hover {
    background-color: #e2e6ea;
}


/*----------------------------------------------------------Navbar*/
.navbar-color {
    background-color: #ff4d4d;
}


.navbar-toggler {
    background-color: #B0B0D1;
}

.navbar-toggler-icon {
    color: #251717;
}

.nav-link:hover {
    
    color: black;
}

.nav-link {
    margin: 0 auto;
      margin: 5px 15px;
    text-decoration: none;
    color: #191717;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    padding: 10px;
    -moz-transition-duration: 1.5s;
    -webkit-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    margin-top: 10%;
}

.navbar-brand {
    margin: 0 auto;
      -moz-transition-duration: 1.5s;
    -webkit-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
}

button .navbar-toggler-icon {
    color: white;
}

@media (max-width: 768px){
    .navbar-toggler {
           display:block;
           vertical-align: :center;
          
    }
    
   
}




/*----------------------------------------------------------Section-Video*/

.live-performance {
    width: 100%;
    height: 500px;
    margin: 0 auto;

    border: none;

}

.video-link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    margin-bottom: 100px;
    margin-top: 100px;


}




/*----------------------------------------------------------Section-blurbs*/

.card-title {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 500;
}

.card-text {
    font-family: 'Merriweather', serif;


}

.card-text span {
    font-style: italic;
    line-height: 1.6;
}

.card-body {
    background-color: #B0B0D1;
}

.card-img-top {
    height: 200px;
}

.card-deck {
    margin: 0 auto;
    margin-bottom: 100px;
    margin-left: 18px;
    margin-right: 18px;
}

.book-link {
    text-decoration: none;
    color: black;
}

.blurb-button {
    margin: 0 auto;
    background-color: #ff4d4d;

}
.book-link:hover {
    text-decoration: none;
    color: black;
}


/*----------------------------------------------------------Music*/

.spotify-playlist {
    margin: 50px;
    padding: 10px;
    display: flex;
   
}

.music-heading {
    display: inline-block;
    text-align: center;
}

/*----------------------------------------------------------jumbotron*/

.jumbotron {
  
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-color: #B0B0D1;
   
}

.introduction {
    letter-spacing: 0.1em;
    font-weight: 500;
    font-family: 'Merriweather', serif;
    color: #251717;
}

.introduction-heading {
   font-family: "Roboto", sans-serif;
     text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 500;
    color: #251717;
    margin-bottom: 30px;
}
/*----------------------------------------------------------Gallery*/

.photo-gallery {
    margin: 5px;
    border: none;
    margin: 0 auto;
    width: 100px;
}

.photo-gallery:hover {
    border: none
}

.photo-gallery img {
    width: 100%;
    height: auto;
    display: inline-block;
}

.desc {
    padding: 15px;
    text-align: center;
}



.gallery-row {
    display: flex;
    margin-bottom: 100px;
    margin-left: 15px;
    margin-right: 15px;
}






/*----------------------------------------------------------Footer*/

.page-footer {
    background-color: #ff4d4d;
    height: auto;
}

.social-icons {
    color: black;
    margin: 15px;
    font-weight: 500;
    font-size: large;
}

.text-center {
    text-align: center!important;
    padding-top: 10px;
    margin-bottom: 0;
}

.fa-youtube:before {
   
    font-size: x-large;
}

.fa-facebook:before {
    
    font-size: x-large;
}

.fa-twitter:before {
   
    font-size: x-large;
}

.social-links {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.social-links {
    width: 50px;
  height: 50px;
    border-radius: 50%;
    background-color: transparent;
    margin: 10px;
    transition-duration: 1.5s
    
}

.social-links:hover {
    background-color: #B0B0D1;
}










/*----------------------------------------------------------Special padding/margin/text*/

.date-form {
    padding-left: 0;
}

.content-heading {
    margin: 0 auto;
    margin-top: 80px;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: xx-large;
    letter-spacing: 0.1em;
    color:  #B0B0D1;
}

.media-heading {
    margin-bottom: 100px;
    color:  #B0B0D1;
}

.music-playlist {
    margin: 0 auto;
}

.gallery-row-bottom {
    margin-bottom: 100px;
    margin-left: 15px;
    margin-right: 15px;
}

.image-description {
    letter-spacing: 0.1em;
    font-weight: 500;
    font-family: 'Merriweather', serif;
    color: #B0B0D1;
    
}



/*----------------------------------------------------------Media Queries*/

@media (max-width: 500px) {
  .video-link {
      width: 80%;
      height: 80%;
  }

 
}

@media (min-width: 768px) {
     .spare-playlist {
        display: none;
        display: hidden;
    }
    
}

@media (max-width: 575.98px) {

}



@media (max-width: 767.98px) { 
    .photo-gallery {
        display: block;
        width: 100px;
        }


@media (max-width: 1266px) {
    .spare-playlist {
        display: none;
    }
    
    .spotify-playlist {
        margin: 0 auto;
        text-align: center;
    }
}

@media (max-width: 425px) {
    .photo-gallery {
        display: block;
        width: 100%;
    }
    
 
    
    

