@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*----------------------------------------------------------body*/

body {
    background-color: #ffffff;
}

/*----------------------------------------------------------Booking Form*/

.center-form {
    padding: 10px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 200px;
    max-width: 70%;
    background-color: #B0B0D1;
}

.booking-button {
    background-color: #ff4d4d;
    margin: 0 auto;
}

.booking-button:hover {
    background-color: #e2e6ea;
}




/*----------------------------------------------------------navbar*/

.nav {
    text-decoration: none;
    display: inline-block;

}

.navbar {
    width: 100%;
    background-color: #ff4d4d;
    height: 100px;
}

ul li .menu-text {
    margin: 5px;
    text-decoration: none;
    color: black;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    padding: 10px;
    transition-duration: 1.5s


}



.navbar-brand {
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
    transition-duration: 1.5s;
}

.col {
    padding: 0;
}

.menu-list {
    background-color: #ff4d4d;
    margin-right: 50px;

}

.menu-item {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    margin: 15px;

    padding: 20px;
}

ul li .menu.text:hover {
    color: #ff4d4d;
    padding: 10px;
    
}





/*----------------------------------------------------------Section-Video*/

.live-performance {
    width: 100%;
    height: 500px;
    margin: 0 auto;

    border: none;

}

.video-link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    margin-bottom: 100px;
    margin-top: 100px;


}




/*----------------------------------------------------------Section-blurbs*/

.card-title {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 500;
}

.card-text {
    font-family: 'Merriweather', serif;


}

.card-text span {
    font-style: italic;
    line-height: 1.6;
}

.card-body {
    background-color: #B0B0D1;
}

.card-img-top {
    height: 200px;
}

.card-deck {
    margin: 0 auto;
    margin-bottom: 300px;
    margin-left: 18px;
    margin-right: 18px;
}



.blurb-button {
    margin: 0 auto;
    background-color: #ff4d4d;

}

/*----------------------------------------------------------Music*/

.spotify-playlists {
    display: block;
}

.music-heading {
    display: inline-block;
    text-align: center;
}

/*----------------------------------------------------------jumbotron*/

.about-section {
    background-image: url("/images/the-who-gallery-jack.jpg");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-color: #B0B0D1;

}

/*----------------------------------------------------------photos*/

.photo-gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

.photo-gallery:hover {
    border: 1px solid #777;
}

.photo-gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}



/*----------------------------------------------------------Timeline*/

.album-text {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;

}

.album-description {
    width: 70%;
}

.album-images {
    margin: 15px;
}

/*----------------------------------------------------------Colors*/

/*----------------------------------------------------------Footer*/

.social-links li a i {
    text-align: right;
    margin-left: 20px;
    margin-top: 30px;
    margin-right: 10px;
    width: 32px;
    height: 32px;
    padding: 20px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: black;
    background: #B0B0D1;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #efeff6;
}


#footer-details {
    background-color: #ff4d4d;
    height: 100px;

}

.footer-logo {
    margin-top: 10px;
    margin-left: 10px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.copyright {
    margin-left: 5px;

    margin-top: 100px;
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 500;
    padding: 5px;
    position: relative;
    top: 20px;
    
}

.copyright-icon {
    margin-right: 3px;
}


/*----------------------------------------------------------Special padding/margin/text*/

.date-form {
    padding-left: 0;
}

.content-heading {
    margin: 0 auto;
    margin-top: 80px;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: xx-large;
    letter-spacing: 0.1em;
}

.media-heading {
    margin-bottom: 80px;
}

.music-playlist {
    margin: 0 auto;
}





/*----------------------------------------------------------Media Queries*/
